body {
    font-family: Arial, sans-serif;
    background-color: #DCDCDC;
}

#app {
    max-width: 750px;
    margin: 40px auto;
    padding: 35px;
    background-color: #2F4F4F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

button {
  background-color: #white;
  border: 1 px;
  color: black;
  padding: 8px 15px;
  font-size: 16px;
  
}

.button2 {
	background-color: #f44336;
	border: 1 px;
  color: black;
  padding: 8.45px 15px;
  font-size: 16px;
	}
	



h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}


ul {
    list-style: none;
    padding: 0;
    overflow-y: auto; 
    max-height: 300px;
}

li {
    padding: 10px;	
    margin: 5px 0;
    border-radius: 5px;
}


.task-completed {
    background-color: #e0e0e0;
}

input[type="text"] {
	width: 95%;
	padding: 11px;
	margin-bottom: 8px;
	border: 1px solid #000;
}



* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 80%;

}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;

}
.content {
  flex: 1 0 auto;
  
}
.footer {
  flex: 0 0 auto;
  text-align: center;
}


#emptyMessage {
    display: none;
    text-align: center;
    margin-top: 20px;
    color: white;
}