body {
    font-family: Arial, sans-serif;
    background-color: #DCDCDC;
	min-height: 100vh;
}

#filters {
    margin-top: 20px;
}

#filters a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    transition: font-weight 0.3s ease-in-out;
}

#filters a:hover {
    font-weight: bold;
}

#app {
    max-width: 750px;
    margin: 40px auto;
    padding: 35px;
    background-color: #2F4F4F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

button {
    background-color: white;
    border: 1px;
    color: black;
    padding: 8px 15px;
    font-size: 16px;
}

.button2 {
    background-color: #f44336;
    border: 1px;
    color: black;
    padding: 8.45px 15px;
    font-size: 16px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    max-height: 300px;
    width: 100%;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li button {
    margin-left: auto;
	background-color: red;
}

li:hover {
    color: #A52A2A;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

.task-completed {
    background-color: #e0e0e0;
}

input[type="text"] {
    width: 95%;
    padding: 11px;
    margin-bottom: 8px;
    border: 1px solid #000;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 80%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1; 
}


.content {
    flex: 1 0 auto;
}

.footer {
    text-align: center;
    background-color: #2F4F4F;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#emptyMessage {
    display: none;
    text-align: center;
    margin-top: 20px;
    color: red;
}
	